@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-inter: Inter;
  --font-open-sans: "Open Sans";

  /* font sizes */
  --font-size-lg: 18px;
  --font-size-mini: 15px;
  --font-size-smi: 13px;
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-2xs: 11px;

  /* Colors */
  --back: #f9f9f9;
  --color-white: #fff;
  --main: #ffb321;
  --price-color: #ef9000;
  --color-gray-100: #797979;
  --color-gray-200: #222;
  --color-dimgray: #6f6f6f;
  --color-darkslategray: #333;
  --color-goldenrod: #ffbb38;

  /* Gaps */
  --gap-3xs: 10px;
  --gap-xl: 20px;
  --gap-6xs: 7px;
  --gap-11xs-4: 1.4px;
  --gap-5xs: 8px;
  --gap-11xl: 30px;
  --gap-3xs-9: 9.9px;
  --gap-mini: 15px;

  /* Paddings */
  --padding-xl: 20px;
  --padding-3xs: 10px;
  --padding-8xs-5: 4.5px;
  --padding-11xs: 2px;
  --padding-9xs: 4px;
  --padding-12xs: 1px;
  --padding-12xl: 31px;
  --padding-5xs: 8px;
  --padding-4xs: 9px;
  --padding-mid: 17px;
  --padding-mini: 15px;
  --padding-2xl: 21px;

  /* Border radiuses */
  --br-3xs: 10px;
  --br-12xs-5: 0.5px;
  --br-8xs: 5px;
}

.facet-filters-form-form {
  width: 301.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
}
.sort-by {
  text-decoration: none;
  position: relative;
  line-height: 20px;
  color: inherit;
  display: inline-block;
  min-width: 49px;
}
.sort-label-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-12xs);
}
.default {
  flex: 1;
  position: relative;
  line-height: 20px;
  color: var(--color-gray-100);
  display: inline-block;
  min-width: 45px;
}
.dropdown-icon {
  height: 4px;
  width: 8px;
  position: relative;
}
.dropdown-icon-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs);
}
.sort-dropdown {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 7px;
}
.divproducts-sorting {
  width: 186.5px;
  border-radius: 3px;
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-3xs) 30px 10.5px;
  box-sizing: border-box;
  gap: 11px;
}
.cards {
  align-self: stretch;
  height: 1830px;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  gap: 30px 28px;
}
.cards,
.content-container,
.shop-page {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content-container {
  flex: 1;
  flex-direction: column;
  gap: 24px;
  max-width: calc(100% - 331px);
}
.shop-page {
  padding-top: 50px;
  padding-left: 50px;
  position: relative;
  background-color: var(--back);
  overflow: hidden;
  flex-direction: row;
  box-sizing: border-box;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-smi);
  color: #000;
  font-family: var(--font-inter);
}
@media screen and (max-width: 1100px) {
  .facet-filters-form-form {
    display: none;
  }
  .content-container {
    max-width: 100%;
  }
}
@media screen and (max-width: 1025px) {
  .shop-page {
    padding-left: 188px;
    padding-right: 173px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .shop-page {
    padding-left: 94px;
    padding-right: 86px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .cards {
    height: auto;
    min-height: 1830;
  }
}
