.col{
  background-color: red;
  height: 10px;
}

  .header-wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 17px 45px;
    gap: 20px;
  }
  .logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .logo {
    width: 44px;
    aspect-ratio: 1.1;
  }
  .site-name {
    text-decoration: none;
    font-family: Inter, sans-serif;
    font-size: 30px;
    font-weight: 800;
    color: #ffb321;
  }
  .search-form {
    width: 517px;
    display: flex;
    align-items: center;
    gap: 0;
    border: 1px solid #efefef;
    border-radius: 3px;
    background-color: #fff;
  }
  .search-input {
    font-size: 12px;
    padding: 14px 20px;
    border: none;
    flex: 1;
  }
  .search-button {
    padding: 11px 23px;
    background-color: #ffb321;
    border: none;
    color: #000;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
  }
  .user-actions {
    display: flex;
    align-items: center;
    gap: 14px;
  }
  .user-icon{
    width: 31px;
    aspect-ratio: 1.11;
    height: 38px;
  }
  .cart-icon{
    height: 38px;
    width: 31px;
    aspect-ratio: 1.11;
  }
  .notification-icon {
    height: 26px;
    width: 31px;
    aspect-ratio: 1.11;
  }
  .cart-container {
    display: flex;
    align-items: center;
    position: relative;
  }
  .cart-count {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: #ffb321;
    border-radius: 50%;
    padding: 2px 8px;
    font-size: 9px;
    font-weight: 800;
  }
  .footer {
    padding: 8px 8%;
    background-color: #ffb321;
    /* padding: 20px 60px; */
    display: flex;
    flex-direction: row;
    justify-content: end;
  }
  .footer-wrapper {
    height: 20px;
    position: static;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    max-width: 1300px;
    width: 100%;
  }
  .nav-links {
    margin-left: 517px;
    display: flex;
    gap: 20px;
  }
  .nav-link {
    text-decoration: none;
    font-family: Inter, sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #000;
  }
  .become-partner {
    display: flex;
    align-items: center;
    gap: 7px;
    border: 1px solid #000;
    border-radius: 3px;
    padding: 9px;
  }
  .partner-link {
    color: black;
    text-decoration: none;
    font-family: Inter, sans-serif;
    font-size: 15px;
    font-weight: 600;
  }
  .partner-icon {
    width: 6px;
    aspect-ratio: 0.6;
  }
  @media (max-width: 991px) {
    .header-wrapper,
    .footer-wrapper {
      flex-wrap: wrap;
      padding: 0 20px;
    }
    .search-button,
    .site-name,
    .nav-link {
      text-decoration: none;
      white-space: initial;
      padding: 0 20px;
    }
  }

.pad{

  gap: 7px;
  font-family: Inter, sans-serif;
  padding: 8px;
  background-color: #ffb321;
  border: 1px solid var(--black-color);
  border-radius: 4px;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
}

.fl{
  font-family: Inter, sans-serif;
  font-size: 15px;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  gap: 10px;
  display: flex;
  flex: 1;
}

.fl div{
  border-radius: 0px;
  border: 0px solid black;
}